<nav>
    <ul>
        <li><a href="../index.php">home</a></li>
        <li class="dropdown-nav-li">
            about us<i class="fa fa-angle-down"></i>
            <ul>
                <li><a href="./aims.php">Aims & Objectives</a></li>
                <li><a href="">Our Constitution</a></li>
                <li><a href="">Director Message</a></li>
                <li><a href="">School Managing Committee</a></li>
            </ul>
        </li>
        <li class="dropdown-nav-li">
            school info<i class="fa fa-angle-down"></i>
            <ul>
                <li><a href="">school profile</a></li>
                <li><a href="">affidavit/declaration</a></li>
                <li><a href="">school advisory board</a></li>
            </ul>
        </li>
        <li class="dropdown-nav-li">
            academics<i class="fa fa-angle-down"></i>
            <ul>
                <li><a href="">academic calender</a></li>
                <li><a href="">teachers list</a></li>
                <li><a href="">book list</a></li>
                <li><a href="">academic achievements</a></li>
                <li><a href="">code of conduct for students</a></li>
                <li><a href="">advice to parents</a></li>
                <li><a href="">activities&competitions</a></li>
                <li><a href="">annual sports meet</a></li>
                <li><a href="">exam schedule</a></li>
                <li><a href="">school uniform</a></li>
                <li><a href="">holiday list</a></li>
            </ul>
        </li>
        <li class="dropdown-nav-li">
            admission<i class="fa fa-angle-down"></i>
            <ul>
                <li><a href="">admission enquiry</a></li>
                <li><a href="">admission guideline</a></li>
            </ul>
        </li>
        <li class="dropdown-nav-li">
            gallery<i class="fa fa-angle-down"></i>
            <ul>
                <li><a href="">photo gallery</a></li>
                <li><a href="">video gallery</a></li>
            </ul>
        </li>
        <li><a href="">downloads</a></li>
        <li><a href="">transfer certificate</a></li>
        <li><a href="">alumini</a></li>
        <li><a href="">contact us</a></li>
        <li class="highlight"><a href="">pay fees online</a></li>
    </ul>
</nav>
<header>
    <a href="../index.php"><figure></figure></a>
    <div class="menu-btn"><i id="menu-ico" class="fa-solid fa-bars"></i></div>
    <ul>
        <li><a href="" class="col-change"><i class="fa fa-graduation-cap"></i>Registration for Class XI 2022-2023</a></li>
        <li><a href="" class="col-change"><i class="fa fa-graduation-cap"></i>Vacancy-2022</a></li>
        <li><a href="" class="col-change"><i class="fa fa-user"></i>Registration for Nursery to Class IX</a></li>
        <li><a href="" class="col-change"><i class="fa fa-graduation-cap"></i>Topper's List</a></li>
        <li><a href="" class="col-change"><i class="fa fa-graduation-cap"></i>Sawan Mohatsava</a></li>
    </ul>
</header>